@font-face { font-family: inter; src: url("font.woff2"); font-weight: 400 700; font-display: swap }
html, body { width: 100%; height: 100%; font: 400 16px/1.2 inter, sans-serif; background: #000; color: #fff; text-align: center; cursor: default; touch-action: none; user-select: none; overflow: hidden }
body, ul, ol, p { padding: 0; margin: 0 }
body, .panel { display: grid; place-items: start center }
body { grid-template: 32% 40% 28% / 20% 60% 20%; --stm: 0s }
.circle, .esc, .screen, .result li { position: relative }
ol li::before, .screen::after, .esc::after, .match-li-2::before { content: ""; position: absolute }

.stimulus, .box, .match { border-radius: .2em }
.stimulus, .panel { grid-area: 2 / 2 }
.stimulus { width: .7em; height: .7em; font-size: 22em; font-weight: 500; line-height: 1; margin-top: -8vh }
.stimulus.color { margin-top: -3vh }
.stimulus.numeral::after, .stimulus.ABC::after { animation: stm var(--stm) step-end forwards }
@keyframes stm { to { content: "" }}
.stimulus.color { animation: stm-col var(--stm) step-end forwards }
@keyframes stm-col { to { background: #000 }}
.panel { grid-template: repeat(3, 1fr) / repeat(3, 1fr); gap: .4em .5em; --box: 112px; font-weight: 500; font-size: 5.15em; line-height: 1.35; margin-top: -15vh }
.panel.color { margin-top: -10vh }
.box { background: #444; border: 2px solid #000; width: var(--box); height: var(--box) }
.esc, .esc::after { width: 2em; height: 2em }
.esc { padding: .2em .2em 0 0 }
.esc::after { left: 0; background: #f00; clip-path: polygon(15% 0, 0 15%, 35% 50%, 0 85%, 15% 100%, 50% 65%, 85% 100%, 100% 85%, 65% 50%, 100% 15%, 85% 0, 50% 35%) }
.no-1.numeral::after { content: "1" }
.no-2.numeral::after { content: "2" }
.no-3.numeral::after { content: "3" }
.no-4.numeral::after { content: "4" }
.no-5.numeral::after { content: "5" }
.no-6.numeral::after { content: "6" }
.no-7.numeral::after { content: "7" }
.no-8.numeral::after { content: "8" }
.no-9.numeral::after { content: "9" }
.no-0.numeral::after { content: "0" }
.no-1.ABC::after { content: "A" }
.no-2.ABC::after { content: "B" }
.no-3.ABC::after { content: "C" }
.no-4.ABC::after { content: "D" }
.no-5.ABC::after { content: "E" }
.no-6.ABC::after { content: "F" }
.no-7.ABC::after { content: "G" }
.no-8.ABC::after { content: "H" }
.no-9.ABC::after { content: "I" }
.no-0.ABC::after { content: "X" }
.no-1.color { background: #070 }
.no-2.color { background: #e11 }
.no-3.color { background: #11e }
.no-4.color { background: #ed0 }
.no-5.color { background: #808 }
.no-6.color { background: #b51 }
.no-7.color { background: #874 }
.no-8.color { background: #56a }
.no-9.color { background: #4ed }

.set-a { grid-area: 1 / 1; place-self: start; margin: 16px 0 0 16px }
.speaker { grid-area: 1 / 2; margin: 16px 0 0 }
.set-t { grid-area: 1 / 3; place-self: start end; margin: 16px 16px 0 0 }
.result { grid-area: 2 / 2 }
.help, .esc { grid-area: 3 / 1; place-self: end start; margin: 0 0 16px 16px }
.circle { grid-area: 3 / 2; place-self: end center; margin: 0 0 16px }
.screen { grid-area: 3 / 3; place-self: end; margin: 0 16px 16px 0 }
p, ul { white-space: nowrap }
p, .result { background: #444; border: 1px solid #fff9 }
p, .result li { text-shadow: .12em .1em 0 #000 }
p { min-width: 2.1em; line-height: 2; font-size: 1.5em; border-radius: .2em }
ol, ul { list-style: none }
ol { text-align: left }
ol { counter-reset: ol; margin: .5em 1.7em .9em 2.5em; font-size: .83em; line-height: 1.7; font-weight: 400 }
ol li::before { counter-increment: ol; content: counter(ol) "."; margin-left: -1.7em; text-align: right; width: 1em }
.set-a, .set-t { width: 4.8em; font-size: 1.9em; line-height: 1.6; font-variant-numeric: tabular-nums }
.speaker { font-size: 1.6em }
.help { font-weight: 500; z-index: 10 }
.screen { width: 32px; height: 32px; box-sizing: border-box; border: 4px solid #999; transform-origin: bottom right }
.screen::after, .circle { background: #000 }
.screen::after { top: -5px; left: -5px; width: 34px; height: 34px; clip-path: polygon(0 31%, 31% 31%, 31% 0, 69% 0, 69% 31%, 100% 31%, 100% 69%, 69% 69%, 69% 100%, 31% 100%, 31% 69%, 0 69%) }
.result { margin-top: -3.2em; font-size: 1.2em; border: .1em solid; border-radius: .8em; box-shadow: 0 0 6em #666, 0 0 2em #ccc }
.result li { margin: .6em 1em; font-size: 1.7em; font-weight: 640 }
.result li:nth-child(1) { font-size: 2em; font-variant: no-contextual }
.result li:nth-child(2) { margin-top: -.1em }
.result li.complete:nth-child(2) { color: #2b2 }
.result li:last-child:not(.match-li-2) { margin: -.05em 1em .8em }
.match-li-2 { margin-top: -.3em }
.match-li-2::before { color: #fff; box-shadow: .12em .1em 0 #000; background: #fff; top: -28%; left: 12%; width: 76%; height: 2px }
.match { display: inline-block; width: .9em; height: 1.05em; margin: .1em .06em }
.match.color { vertical-align: middle }
.wrong { color: #f00 }
.circle { --circle: 9.75em; width: var(--circle); height: var(--circle); box-sizing: border-box; border: 1.2em solid; border-radius: 50% }
.active:not(.color) { border-color: #04d }
p.active, p.active ol { color: #999 }
.esc.active::after { background: #444 }
.screen.active { border-color: #f00 }
.circle.active { border-color: #444 }
.box.active { color: #000 }
.color.active { opacity: .4 }

@media (orientation: portrait) {
.stimulus { margin-top: -3.5vh }
.stimulus.color { margin-top: 0 }
.panel { margin-top: -11vh }
.panel.color { margin-top: -7vh }
}
@media (max-width: 1600px) {
.stimulus { font-size: 17em }
.panel { --box: 88px; font-size: 4em }
.esc, .esc::after { width: 1.5em; height: 1.5em }
p { font-size: 1.2em }
.set-a, .set-t { font-size: 1.5em }
.speaker { font-size: 1.3em }
.screen { transform: scale(.8125) }
.result { font-size: 1em }
.circle { --circle: 7.5em; border-width: .94em }
}
@media (max-width: 1020px) {
.stimulus { font-size: 12em }
.panel { --box: 72px; font-size: 3.35em }
.set-a, .set-t { font-size: 1.4em }
.result { font-size: .84em }
.circle { --circle: 5.875em; border-width: .74em }
}
