@font-face { font-family: inter; src: url("font.woff2"); font-weight: 400 700; font-display: swap }
html, body, .task .circle::after, .screen::after { background: #888 }
html, body { width: 100%; height: 100%; font: 400 16px/1.2 inter, sans-serif; color: #fff; text-align: center; cursor: default; touch-action: none; user-select: none; overflow: hidden }
body, ul, ol, p { padding: 0; margin: 0 }
body, .grid { display: grid; place-items: start center }
body { grid-template: 18% 72% 10% / 20% 60% 20%; --stm: 0s }
.buttons li, p, .result { background-color: #1b6d52 }
.circle, .screen { position: relative }
ol li::before, .circle::after, .screen::after { content: ""; position: absolute }

.grid { grid-area: 2 / 2; grid-template: repeat(3, 1fr) / repeat(3, 1fr); gap: 1.2em }
.box, .buttons li { border-radius: .2em }
.box { background: #53ba9a; width: 11em; height: 11em }
.circle { grid-area: 2 / 2; place-self: center; --circ: 82%; width: var(--circ); height: var(--circ); background: transparent; box-sizing: border-box; border: 1.1em solid; border-radius: 50% }
.task, .task .box { background: #000; transition: background .2s }
.trfx, .trfx .box { transition: background 1.2s }
.task .circle { --cross: 40px; width: var(--cross); height: var(--cross); border: none; border-radius: unset }
.task .circle::after { width: 100%; height: 100%; left: 0; transform: scale(.8); animation: cross .6s ease-in-out; z-index: 800
	;clip-path: polygon(0 40%, 40% 40%, 40% 0, 60% 0, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%) }
@keyframes cross { from { transform: scale(0); background: #888 } to { transform: scale(.8) }}
.task .visual { animation: stm var(--stm) step-end forwards }
@keyframes stm { from { background: #1b6d52 } to { background: #000 }}
.buttons { position: fixed; bottom: 16px; left: 50%; transform: translate(-50%, 0); font-size: 2.5em; z-index: 100; animation: buttons 1.2s }
@keyframes buttons { from { opacity: 0 } to { opacity: 1 }}
.buttons li { display: inline-block; width: 4em; height: 1.5em; margin: 0 1em; border: 2px solid #0a2d24; background-repeat: no-repeat }
.btn-A { background-size: auto 1em; background-position: center }
.btn-L { background-size: auto .95em; background-position: 52% }

.set-n { grid-area: 1 / 1; place-self: start; margin: 16px 0 0 16px }
.speaker { grid-area: 1 / 2; margin: 16px 0 0 }
.set-b { grid-area: 1 / 3; place-self: start end; margin: 16px 16px 0 0 }
.result { grid-area: 2 / 2 }
.help { grid-area: 3 / 1; place-self: end start; margin: 0 0 16px 16px }
.screen { grid-area: 3 / 3; place-self: end; margin: 0 16px 16px 0 }
p, ul { white-space: nowrap }
p, .result { border: 1px solid #fff9 }
p, .result li { text-shadow: .12em .1em 0 #000 }
p { min-width: 2.1em; line-height: 2; font-size: 1.5em; border-radius: .2em }
ol, ul { list-style: none }
ol { text-align: left }
ol { counter-reset: ol; margin: .5em 1.7em .9em 2.5em; font-size: .83em; line-height: 1.7; font-weight: 400 }
ol li::before { counter-increment: ol; content: counter(ol) "."; margin-left: -1.7em; text-align: right; width: 1em }
.set-n, .set-b { width: 4.8em; font-size: 1.9em; line-height: 1.6; font-variant-numeric: tabular-nums }
.speaker { font-size: 1.6em; text-shadow: 0.12em 0.12em 0 #666 }
.help { font-weight: 500; z-index: 10 }
.screen { width: 32px; height: 32px; box-sizing: border-box; border: 4px solid; transform-origin: bottom right }
.screen::after { top: -5px; left: -5px; width: 34px; height: 34px; clip-path: polygon(0 31%, 31% 31%, 31% 0, 69% 0, 69% 31%, 100% 31%, 100% 69%, 69% 69%, 69% 100%, 31% 100%, 31% 69%, 0 69%) }
.result { margin-top: -3em; font-size: 1.2em; border: .1em solid; border-radius: .8em; box-shadow: 0 0 6em #666, 0 0 2em #ccc }
.result li { margin: .6em 1em; font-size: 1.7em; font-weight: 640 }
.result li:nth-child(1) { font-size: 2em; font-variant: no-contextual }
.result li:nth-child(2) { margin-top: -.1em }
.result li:last-child { margin: -.05em 1em .8em }
p.active, p.active ol { color: #999 }
.circle.active, .screen.active { border-color: #444 }
.circle.active::after { background: #444 }
.buttons li.active { opacity: .4 }

@media (orientation: portrait) { .grid { margin-top: 7vh } .buttons { bottom: 28px }}
@media (max-width: 1600px) {
.grid { font-size: .8em }
.task .circle { --cross: 35px }
p { font-size: 1.2em }
.set-n, .set-b { font-size: 1.5em }
.speaker { font-size: 1.3em }
.screen { transform: scale(.8125) }
.buttons { font-size: 1.75em }
.btn-L { background-size: auto .92857em }
.result { font-size: 1em }
}
@media (max-width: 1020px) {
.grid { font-size: .7em; gap: 1.5em }
.circle { --circ: 90%; font-size: 1.2em }
.task .circle { --cross: 28px }
.set-n, .set-b { font-size: 1.4em }
.buttons { font-size: 1.5em }
.btn-L { background-size: auto .916666em }
.result { font-size: .84em }
}
@media (max-width: 590px), (max-height: 590px) { .grid { font-size: .5em; gap: 2em }}
@media (orientation: landscape) and (max-height: 700px) { body { grid-template-rows: 14% 75% 11% }}
@media (orientation: landscape) and (max-width: 1020px) and (min-height: 450px) { .grid { margin-top: 4vh }}
@media (min-width: 1200px) and (max-width: 1600px) and (min-height: 1020px) { body { grid-template-rows: 22% 70% 8% }}

.btn-A { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 25'%3E%3Cg transform='matrix(1.0878743,0,0,1.0645436,-23.837728,-31.890956)'%3E%3Cpath fill='%230a2d24' d='m 58.681142 41.699519c0.01464 3.453564-8.231007 11.742121-18.384467 11.742121s-18.38455-8.288557-18.384467-11.742121c8.3e-5 -3.453566 8.231007-11.742121 18.384467-11.742121s18.369824 8.288555 18.384467 11.742121 z' /%3E%3Ccircle fill='%231b6d52' cx='40.296684' cy='41.69952' r='7.85' /%3E%3C/g%3E%3C/svg%3E") }
.btn-L { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 58 40'%3E%3Cg transform='matrix(1.0155661,0,0,1.0222222,-105.31438,-137.7707)'%3E%3Cpath fill='%230a2d24' d='m 129.79785 173.58783-11.36699-9.17975a8.4897145 8.4897145 19.461818 0 0-5.33395-1.88485h-5.53594a3 3 45 0 1-3-3v-10.36469a3 3 135 0 1 3-3h5.53594a8.4897043 8.4897043 160.53816 0 0 5.33395-1.88485l11.36699-9.17977a1.4333801 1.4333801 25.538161 0 1 2.33395 1.11515v36.26361a1.4333814 1.4333814 154.46182 0 1-2.33395 1.11515 z' /%3E%3Cg transform='translate(3.0422045 .49107118)' stroke='%230a2d24' stroke-width='3.77953'%3E%3Cpath d='m 138.24634 148.20536v11.28889' /%3E%3Cpath d='m 146.63237 143.36726v20.96508' /%3E%3Cpath d='m 155.01841 138.52917v30.64127' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") }
